@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
/* https://coolors.co/000000-0c1821-1b2a41-324a5f-ccc9dc */
body {
  font-family: "Noto Sans Display", sans-serif;
  background: #0c1821;
  color: #ccc9dc;
}
#data {
  height: 400px;
  resize: vertical;
  font-size: 30px;
  background: #324a5f;
  color: #ccc9dc;
}
.cardBg {
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.9px);
  -webkit-backdrop-filter: blur(18.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.childBg {
  background: transparent;
  color: #ccc9dc;
  font-family: "Press Start 2P", cursive;
}
#title {
  background: #324a5f;
  color: #ccc9dc;
  border-radius: 0.3rem;
  font-size: 30px;
}
.stats {
  font-size: 20px;
}
.globe {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff,
    0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
}
#copy,
#copyText {
  cursor: pointer;
  font-family: "Noto Sans Display", sans-serif;
}
#copy #copyText:hover {
  font-family: "Press Start 2P", cursive;
}

@media only screen and (max-width: 600px) {
  #data {
    width: 500px;
  }
  .childBg {
    background: transparent;
    color: #ccc9dc;
    font-size: 15px;
    font-family: "Press Start 2P", cursive;
  }
}
